* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10pt;
    font-family: "Dosis", Helvetica, "Comic Sans MS", sans-serif;
}

/*Mobile-First*/
 nav, aside, main, .element, footer {
    display: flex;
    flex-direction: column;
    align-content: center;
}
/*Header-Cabecera*/
header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 1em 0;
    background: linear-gradient(to bottom right, rgb(205, 205, 255), rgb(255, 203, 211));
    /*logo*/
    img{
        width: 5em;
        user-select: none;
    }
    /*Nombre de tienda*/
    h1 {
        cursor: default;
        user-select: none;
        text-align: center;
    }
    /*Contacto/login*/
    a {
        text-decoration: none;
        color: #010422;
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
    }

    a:hover {
        color: rgb(230, 230, 248);
        text-shadow: -0.1em 0.1em 0 #010422, 0.1em -0.1em 0 #010422 ;
    }
    a:hover>svg {
        box-shadow: -0.1em 0.1em 0 #010422, 0.1em -0.1em 0 #010422 ;
        border-radius: 50%;
    }
    a:active {
        text-shadow:none;
        color: #010422;
    }
    a:active>svg {
        box-shadow: none;
        color: #010422;
    }
    
}
/*Barra de navegación*/
nav {
    font-weight: bold;
    background-color: rgba(255, 203, 211, 0.5);
    padding: 0.5em 0;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;

    }
    .navbar a {
        text-decoration: none;
        font-size: 1.3em;
        color: #010422;
    }
    .navbar a:hover {
        color: rgb(230, 230, 248);
        text-shadow: -0.1em 0.1em 0 #010422, 0.1em -0.1em 0 #010422 ;
    }
    .navbar a:active {
        text-shadow:none;
        color: #010422;
    }
}
/*Filtro de navegación*/
aside {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    font-size: 1.1em;
    /*Botón de filtrar*/
    a {
        text-decoration: none;
        font-weight: 500;
        color:rgb(14, 13, 15);
        border: black solid 1px;
        padding: 0.5em;
    }

    a:hover {
        color: rgba(155, 37, 66, 0.925);
        border: rgba(155, 37, 66, 0.925) solid 1px;
    }

    a:active {
        color:rgb(14, 13, 15);
        text-shadow: 0 0.05em 0 #010422, 0 -0.05em 0 #010422 ;
        border: black solid 1px;
    }
}
/*Contenedor principal de artículos*/
main {
    padding: 0.3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    .element{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #010422;;
        justify-content: center;
        text-align: center;
        img {
            width: 100%;
        }
        .nombre-articulo {
            font-size: 1.5em;
            font-weight: 500;
        }
        .precio{
            font-size: larger;

        }
        svg {
            color: gold;
        }
    }
    .element:hover {
        box-shadow: -0.1em -0.1em 0.1em 0.1em rgb(24, 13, 0), 0.1em 0.1em 0.1em 0.1em rgb(24, 13, 0);
    }
} 
/*Pie de página*/
footer{
    background-color: rgb(66, 66, 66);
    font-size: 0.85em;
    padding: 1em;
    ul {
        list-style: none;
        margin-bottom: 1.5em;
    }
    .footer-header{
        font-size: 0.9em;
        font-weight: bold;
        margin: 0 2em;
        text-align: left;
        color: whitesmoke;
    }
    a {
        color: rgb(243, 241, 238);
        text-decoration: none;
    }
    li:hover {
        font-weight: bold;
    }
}
/*/*Dispositivos con pantallas medianas*/
@media screen and (min-width: 576px ) {
    header > img {
        width: 6em;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;    
    }
} 
/*Dispositivos con pantallas grandes o medianas con orientación panorámica*/
@media  screen and (min-width: 912px), (orientation: landscape) and (min-width: 576px) {
    header > img {
        width: 7em;
    }
    /*Contenedor de las barras de navegación, filtro y contenedor principal*/
    .outer-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        nav {
            grid-column: 1/3;
        }
        aside {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            align-items: flex-start;
            div {
                padding: 0.5em;
            }
            a {
                text-align: center;
            }
        }
        main {
            grid-template-columns: repeat(4, 1fr);
            border-left: 1px solid rgb(66, 66, 66);
        }
    }
    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}
/*Dispositivos con pantallas muy grandes*/
@media screen  and (min-width: 1024px) {
    header > img {
        width: 8em;
    }
    /*Contenedor de las barras de navegación, filtro y contenedor principal*/
    .outer-container{
        grid-template-rows: 1fr 1fr;

        nav {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            .navbar {
                display: flex;
                flex-direction: column;
                list-style: disc;
                margin-left: 1.5em;
            }
        }
        aside {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        main {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}