/*Quiet Palette*/
:root {
    --palm-leaf: #6b8b4f ;
    --marigold: #e3992e;
    --alabaster: #EEF1E2;
    --pine-tree:#292B2C;
    --chinese-white: #dfecd8;
    --dark-silver: #737964;
}

@media (prefers-color-scheme : dark) {
    :root {
        --primary-color: var(--palm-leaf) ;
        --background-color: var(--pine-tree);
        --strong-emphasis-color: var(--marigold);
        --light-emphasis-color: var(--alabaster) ;
        --shadow-color:var(--dark-silver);
    }
}

@media (prefers-color-scheme : light) {
    :root {
        --primary-color: var(--palm-leaf) ;
        --background-color: var(--alabaster);
        --strong-emphasis-color: var(--marigold);
        --light-emphasis-color: var(--alabaster);
        --shadow-color:var(--pine-tree);
    }
}

.light-theme {
    --primary-color: var(--palm-leaf) ;
    --background-color: var(--alabaster);
    --strong-emphasis-color: var(--marigold);
    --light-emphasis-color: var(--pine-tree);
    --shadow-color:var(--dark-silver);
    --footer-background:var(--light-emphasis-color);
}


.dark-theme {
    --primary-color: var(--palm-leaf) ;
    --background-color: var(--pine-tree);
    --strong-emphasis-color: var(--marigold);
    --light-emphasis-color: var(--alabaster) ;
    --shadow-color:var(--dark-silver);
    --footer-background:#0c0c0b;
}

.dark-theme-high-contrast {
    --primary-color: var(--palm-leaf) ;
    --background-color: #0c0c0b;
    --strong-emphasis-color: var(--marigold);
    --light-emphasis-color: #f2f3f2;
    --shadow-color:var(--dark-silver);
    --footer-background:var(--pine-tree);
}


.light-theme-high-contrast {
    --primary-color: var(--palm-leaf) ;
    --background-color: #f2f3f2;
    --strong-emphasis-color: var(--marigold);
    --light-emphasis-color: var(--pine-tree) ;
    --shadow-color:var(--dark-silver);
    --footer-background:var(--light-emphasis-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10pt;
    font-family: "Dosis", Helvetica, "Comic Sans MS", sans-serif;
    color: var(--shadow-color)
}

/*Mobile-First*/
 nav, aside, main, .element, footer {
    display: flex;
    flex-direction: column;
    align-content: center;
}
/*Header-Cabecera*/
header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1em 0;
    height: auto;
    /* background: linear-gradient(to bottom right, rgb(205, 205, 255), rgb(255, 203, 211)); */
    background-color: var(--primary-color);
    /*logo*/
    
    img{
        width: 5em;
        user-select: none;
    }
    
    /*Nombre de tienda*/
    h1 {
        cursor: default;
        user-select: none;
        text-align: center;
        color: var(--strong-emphasis-color);
        font-size: 3em;

    }
    /*Contacto/login*/
    a {
        text-decoration: none;
        /* color: #010422; */
        color: var(--light-emphasis-color);
        font-weight: 700;
        font-size: 1.2em;
        text-align: center;
    }

    a:hover {
        color: var(--strong-emphasis-color);
        text-shadow: -0.1em 0.1em 0 var(--shadow-color), 0.1em -0.1em 0 var(--shadow-color) ;
    }
    a:hover>svg {
        box-shadow: -0.1em 0.1em 0 var(--shadow-color), 0.1em -0.1em 0 var(--shadow-color) ;
        border-radius: 50%;
    }
    a:active {
        text-shadow:none;
        color: var(--strong-emphasis-color);
    }
    a:active>svg {
        box-shadow: none;
        color: var(--strong-emphasis-color);
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        color: var(--pine-tree)
    }
    .custom-control-input:checked + p {
        color: var(--alabaster);
    }

    .custom-control-label {
        background-color: var(--light-emphasis-color);
        width: 2em;
        height: 1em;
        border-radius: 1em;
        box-shadow: inset 0 0.1em 0.3em var(--shadow-color), inset 0 -0.1em 0.3em var(--light-emphasis-color);
        cursor: pointer;
        position: relative;
        transition: 0.2s;
        display: block;
    }
    
    .custom-control-label::after {
        content: "";
        position: absolute;
        top: 0.1em;
        left: 0.1em;
        background: linear-gradient(180deg, #b86d0c, var(--strong-emphasis-color));
        width: 0.8em;
        height: 0.8em;
        border-radius: 0.8em;
        box-shadow: 0 0.1em 0.2em var(--shadow-color);
        transition: 0.2s;
    }
    .custom-control-input {opacity: 0;}
    
    /* .custom-control-input:checked + p {
        color: var(--light-emphasis-color);
    } */
    
    .custom-control-input:checked ~ .custom-control-label::after {
        transform: translateX(125%);
        background: var(--shadow-color);
    }
    
}
/*Barra de navegación*/
nav {
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 0.5em 0;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;

    }
    .navbar a {
        text-decoration: none;
        font-size: 1.3em;
        color: var(--light-emphasis-color);
    }
    .navbar a:hover {
        color: var(--shadow-color);
       
    }
    .navbar a:active {
        text-shadow:none;
        color: var(--strong-emphasis-color);
    }
}
/*Filtro de navegación*/
aside {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    font-size: 1.1em;
    background-color: var(--background-color);
    color: var(--light-emphasis-color);
    /*Botón de filtrar*/
    a {
        text-decoration: none;
        font-weight: 500;
        color:var(--light-emphasis-color);
        border: var(--light-emphasis-color) solid 1px;
        padding: 0.5em;
    }

    a:hover {
        color: var(--strong-emphasis-color);
        border: var(--strong-emphasis-color) solid 1px;
    }

    a:active {
        color:var(--light-emphasis-color);
        /* text-shadow: 0 0.05em 0 #010422, 0 -0.05em 0 #010422 ; */
        border: var(--light-emphasis-color) solid 1px;
    }
}
/*Contenedor principal de artículos*/
main {
    padding: 0.3em;
    display: flex;
    gap: 1em;
    background-color: var(--background-color);
    border-top: var(--shadow-color) solid 1px;
    .nombre-articulo {
        font-size: 4em;
        font-weight: 500;
        color: var(--strong-emphasis-color);
        text-align: center;
    }
    .element{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        border: 1px solid var(--shadow-color);;
        justify-content: center;
        text-align: center;
        img {
            width: 100%;
        }
        
        .precio{
            font-size: larger;
            color: var(--light-emphasis-color);

        }
        p {
            color: var(--light-emphasis-color);
        }
        svg {
            color: var(--strong-emphasis-color);
        }
    }
    .element:hover img {
        box-shadow: -0.1em -0.1em 0.1em 0.1em var(--strong-emphasis-color), 0.1em 0.1em 0.1em 0.1em var(--strong-emphasis-color);
    }
    .btn-comprar {
        background-color: var(--marigold);
        padding: 1em;
        display: block;
        margin: 3em;
        color: var(--light-emphasis-color);
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.2em;
    }

    .btn-comprar:hover {
        background-color: #fc9404;
        box-shadow: -0.1em -0.1em 0.1em 0.1em var(--light-emphasis-color), 0.1em 0.1em 0.1em 0.1em var(--light-emphasis-color);
    }
    .btn-comprar:active {
        background-color: #4e3209;
        color: var(--background-color)

    }
} 
/*Pie de página*/
footer{
    background-color: var(--footer-background);
    font-size: 0.85em;
    padding: 1em;
    ul {
        list-style: none;
        margin-bottom: 1.5em;
    }
    .footer-header{
        font-size: 0.9em;
        font-weight: bold;
        margin: 0 2em;
        text-align: left;
        color: var(--primary-color);
    }
    a {
        color: var(--strong-emphasis-color);
        text-decoration: none;
    }
    li:hover {
        font-weight: bold;
    }
}
/*/*Dispositivos con pantallas medianas*/
@media screen and (min-width: 576px ) {
    header > img {
        width: 6em;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;    
    }
} 
/*Dispositivos con pantallas grandes o medianas con orientación panorámica*/
@media  screen and (min-width: 912px), (orientation: landscape) and (min-width: 576px) {
    header > img {
        width: 7em;
    }
    /*Contenedor de las barras de navegación, filtro y contenedor principal*/
    .outer-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        nav {
            grid-column: 1/3;
        }
        aside {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            align-items: flex-start;
            div {
                padding: 0.5em;
            }
            a {
                text-align: center;
            }
        }
        main {
            grid-template-columns: repeat(4, 1fr);
            border-left: 1px solid rgb(66, 66, 66);
        }
        .element{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}
/*Dispositivos con pantallas muy grandes*/
@media screen  and (min-width: 1024px) {
    header > img {
        width: 8em;
    }
    /*Contenedor de las barras de navegación, filtro y contenedor principal*/
    .outer-container{
        grid-template-rows: 1fr 1fr;

        nav {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            .navbar {
                display: flex;
                flex-direction: column;
                margin-left: 1.5em;
            }
        }
        aside {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        main {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}